/Footages/1Aug-1700.m4v
/Footages/2Aug-1700.m4v
/Footages/3Aug-1700.m4v
/Footages/4Aug-1700.m4v
/Footages/5Aug-1700.m4v
/Footages/6Aug-1700.m4v
/Footages/7Aug-1700.m4v
/yolo-coco/coco.names
/yolo-coco/yolov3.cfg
/yolo-coco/yolov3.weights
