/Footages/1Aug.m4v
/Footages/2Aug.m4v
/Footages/3Aug.m4v
/Footages/4Aug.m4v
/Footages/5Aug.m4v
/Footages/6Aug.m4v
/Footages/7Aug.m4v
/yolo-coco/coco.names
/yolo-coco/yolov3.cfg
/yolo-coco/yolov3.weights
